body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antoaliased;
    min-width: 320px;
}

* {
    box-sizing: border-box;
}

:root {
    --primary: #1d9bf0;
    --primary-light: #8ecdf7;
    --primary-text: #0f1419;
    --second-text: #536471;
    --border: #cfd9de;
}